﻿@model IA.Reclutamiento.ApiTestNGM.Models.StatusModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("/Scripts/js/status.js")

<div class="jumbotron">
    <h2>Catálogo de estatus.</h2>
    <label>Consulta y manipula los datos de los estatus.</label>
</div>

<div class="gtco-section gtco-gray-bg">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" id="txt-buscar" class="form-control" placeholder="Estatus" value="@Model.dsearch">
                </div>
                <div class="col-md-2">
                    <input type="button" value="Buscar" class="form-control btn-primary" onclick="filterTable('@Url.Action("Index")');">
                </div>
                <div class="col-md-2">
                    <input type="button" value="Nuevo" class="form-control btn-primary" onclick="showEditStatus(0);">
                </div>
            </div>
            <br />
            <div class="row">

                @if (Model.lstStatus != null && Model.lstStatus.Count > 0)
            {
                    <div>
                        @{
                            var grid = new WebGrid(Model.lstStatus, canSort: false, rowsPerPage: 10, canPage: true);
                        }

                        @grid.GetHtml(
                htmlAttributes: new
                {
                    id = "tbStaff",
                    width = "100%"
                },
                mode: WebGridPagerModes.All,
                tableStyle: "scrollable",
                //headerStyle: "tb_head_black",
                firstText: "<< Primero ",
                previousText: "< Anterior |",
                nextText: "| Siguiente >",
                lastText: "Último >>",
                footerStyle: "footer",
                columns: grid.Columns(
                    grid.Column("StatusId", "Id", canSort: false),
                    grid.Column("Status_Status", "Estatus", canSort: false),
                    grid.Column(columnName: "Acciones", format:@<div id="divAcciones">
                                                                    <a onclick="showEditStatus(@item.StatusId)" style="font-size:20px; cursor:pointer" title="Editar" data-toggle="tooltip" data-placement="left"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <a onclick="deleteStatus(@item.StatusId)" style="font-size:20px; cursor:pointer" title="Eliminar" data-toggle="tooltip" data-placement="right"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                        )
                    )
                )

                    </div>
                            }
                            else
                            {
                                <p> No existen registros</p>
                            }
            </div>
        </div>
    </div>
</div>

@Html.Partial("ModalNewEdit", Model)