﻿@using IA.LogicaNegocio.Entities;
@using IA.Reclutamiento.ApiTestNGM.Models;

<div class="modal fade" id="modal-edit-status" tabindex="-1" role="dialog" aria-labelledby="modal-edit-status" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="form-edit-status">
                <input type="hidden" name="status-id" id="status-id" />
                <div class="modal-header">Datos del estatus.</div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">Estatus: </div>
                        <div class="col-md-8">
                            <input type="text" name="txt-status" id="txt-status" class="form-control" placeholder="Descripción" value="" data-toggle="validation" data-required="true" data-message="La descripción del estatus no puede quedar vacía.">
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                </div>
                <div class="modal-footer">
                    <div id="alert_placeholder" dir="ltr"></div>
                    <input type="button" id="btn-modal-cancel-edit-status" class="btn btn-primary" value="Cancelar" onclick="$('#modal-edit-status').modal('hide');" />
                    <input type="button" id="btn-modal-accept-edit-status" class="btn btn-primary" value="Aceptar" onclick="btnAceptSaveStatus();" />
                </div>
            </form>
        </div>
    </div>
</div>
