﻿<div class="modal fade" id="modal-edit-position" tabindex="-1" role="dialog" aria-labelledby="modal-edit-position" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="form-edit-status">
                <input type="hidden" name="position-id" id="position-id" />
                <div class="modal-header">Datos del puesto.</div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">Descripción: </div>
                        <div class="col-md-8">
                            <input type="text" name="txt-description" id="txt-description" class="form-control" placeholder="Descripción" value="" data-toggle="validation" data-required="true" data-message="La descripción no puede quedar vacía.">
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                    <div class="row">
                        <div class="col-md-4">Salario mínimo: </div>
                        <div class="col-md-8">
                            <input type="text" name="txt-salary-min" id="txt-salary-min" class="form-control" placeholder="$0.0" value="" data-toggle="validation" data-type="decimal" data-required="true" data-message="El salario mínimo: datos incorrectos.">
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                    <div class="row">
                        <div class="col-md-4">Salario maximo: </div>
                        <div class="col-md-8">
                            <input type="text" name="txt-salary-max" id="txt-salary-max" class="form-control" placeholder="$0.0" value="" data-toggle="validation" data-type="decimal" data-required="true" data-message="El salario maximo: datos incorrectos.">
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                </div>
                <div class="modal-footer">
                    <div id="alert_placeholder" dir="ltr"></div>
                    <input type="button" id="btn-modal-cancel-edit-position" class="btn btn-primary" value="Cancelar" onclick="$('#modal-edit-position').modal('hide');" />
                    <input type="button" id="btn-modal-accept-edit-position" class="btn btn-primary" value="Aceptar" onclick="btnAceptSavePosition();" />
                </div>
            </form>
        </div>
    </div>
</div>
