﻿@model IA.Reclutamiento.ApiTestNGM.Models.StaffModel

@Scripts.Render("/Scripts/js/staff.js")

<div class="jumbotron">
    <h2>Administración de personal.</h2>
    <label>Consulta y manipula los datos del personal.</label>
</div>

<div class="gtco-section gtco-gray-bg">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" id="txt-buscar" class="form-control" placeholder="Nombre" value="@Model.dsearch">
                </div>
                <div class="col-md-2">
                    <input type="button" value="Buscar" class="form-control btn-primary" onclick="filterTable('@Url.Action("Index")');">
                </div>
                <div class="col-md-2">
                    <input type="button" value="Nuevo" class="form-control btn-primary" onclick="showEditStaff(0);">
                </div>
            </div>
            <br />
            <div class="row">

                @if (Model.lstStaff != null && Model.lstStaff.Count > 0)
            {
                    <div>
                        @{
                            var grid = new WebGrid(Model.lstStaff, canSort: false, rowsPerPage: 10, canPage: true);
                        }

                        @grid.GetHtml(
                htmlAttributes: new
                {
                    id = "tbStaff",
                    width = "100%"
                },
                mode: WebGridPagerModes.All,
                tableStyle: "scrollable",
                //headerStyle: "tb_head_black",
                firstText: "<< Primero ",
                previousText: "< Anterior |",
                nextText: "| Siguiente >",
                lastText: "Último >>",
                footerStyle: "footer",
                columns: grid.Columns(
                    grid.Column("StaffId", "Id", canSort: false),
                    //grid.Column("Position", "Puesto", canSort: false),
                    grid.Column("Staff_FirstName", "Nombre", canSort: false),
                    grid.Column("Staff_LastName", "Apellidos", canSort: false),
                    grid.Column("Staff_Email", "Email", canSort: false),
                    grid.Column("Staff_Bithdate", "Fecha nacimiento", canSort: false),
                    grid.Column("Staff_ControlNumber", "Control", canSort: false),    
                    grid.Column(columnName: "Acciones", format:@<div id="divAcciones">
                        <a onclick="showEditStaff(@item.StaffId)" style="font-size:20px; cursor:pointer" title="Editar" data-toggle="tooltip" data-placement="left"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a onclick="deleteStaff(@item.StaffId)" style="font-size:20px; cursor:pointer" title="Eliminar" data-toggle="tooltip" data-placement="right"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                        )
                    )
                )

                    </div>
                            }
                            else
                            {
                                <p> No existen registros</p>
                            }
            </div>
        </div>
    </div>
</div>

@Html.Partial("ModalEditStaff", Model)
