﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>

    <div class="container body-content"> 
        
        <div class="row">
            @*<div class="col-sm-4">
                <form data-bind="submit: callApi">
                    <h3>Invoke API</h3>
                    <div class="form-group">
                        <label>User</label>
                        <input class="form-control" type="text" readonly data-bind="value: user" />
                    </div>
                    <div class="form-group">
                        <label>Result</label>
                        <input class="form-control" type="text" readonly data-bind="value: result" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Call API</button>
                    </div>
                    <div class="form-group error-messages" data-bind="foreach: errors">
                        <p data-bind="text: $data" />
                    </div>
                </form>
            </div>*@
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <form data-bind="submit: register">
                    <h3>Register</h3>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" data-bind="value: registerEmail" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" data-bind="value: registerPassword" />
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" data-bind="value: registerPassword2" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <h3>Log In</h3>
                <form data-bind="submit: login">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" data-bind="value: loginEmail" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" data-bind="value: loginPassword" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Log In</button>
                        @*<button data-bind="click: logout" class="btn btn-default">Log Out</button>*@
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="form-edit-status">
                <div>
                    Iniciando sesión...
                </div>
                </form>
            </div>
        </div>
        </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
@*    @RenderSection("scripts", required: false)*@
</body>
</html>
