﻿@Scripts.Render("/Scripts/js/staff.js")

<div class="modal fade" id="modal-edit-staff" tabindex="-1" role="dialog" aria-labelledby="modal-edit-staff" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="form-edit-status">
                <input type="hidden" name="staff-id" id="staff-id" />
                <div class="modal-header">Datos del personal.</div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">Puesto: </div>
                        <div class="col-md-8">
                            <select class="form-control" id="sel-position" name="sel-position" data-toggle="validation" data-required="true" data-message="Seleccione un puesto">
                                <option value="" hidden>--- Elige un puesto ---</option>
                            </select>
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                    <div class="row">
                        <div class="col-md-4">Nombre: </div>
                        <div class="col-md-8">
                            <input type="text" name="txt-first-name" id="txt-first-name" class="form-control" placeholder="Nombre" value="" data-toggle="validation" data-required="true" data-message="El nombre no puede quedar vacío.">
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                    <div class="row">
                        <div class="col-md-4">Apellidos: </div>
                        <div class="col-md-8">
                            <input type="text" name="txt-last-name" id="txt-last-name" class="form-control" placeholder="Apellidos" value="" data-toggle="validation" data-required="true" data-message="El apellido no puede quedar vacío.">
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                    <div class="row">
                        <div class="col-md-4">Email: </div>
                        <div class="col-md-8">
                            <input type="text" name="txt-email" id="txt-email" class="form-control" placeholder="Email" value="" data-toggle="validation" data-required="true" data-message="El email no puede quedar vacío.">
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                    <div class="row">
                        <div class="col-md-4">Fecha de nacimiento: </div>
                            <div class="col-md-8" id="fecha-nacimiento-container">
                                <input class="form-control" id="fecha-nacimiento" name="fecha-nacimiento" type="text" data-toggle="validation" data-required="true" data-message="La fecha de nacimiento no puede quedar vacía." readonly>
                            </div>
                    </div>
                    <div style="height: 15px"></div>
                    <div class="row">
                        <div class="col-md-4">Número de control: </div>
                        <div class="col-md-8">
                            <input type="text" name="txt-number" id="txt-number" class="form-control" value="" readonly>
                        </div>
                    </div>
                    <div style="height: 15px"></div>
                </div>
                <div class="modal-footer">
                    <div id="alert_placeholder" dir="ltr"></div>
                    <input type="button" id="btn-modal-cancel-edit-staff" class="btn btn-primary" value="Cancelar" onclick="$('#modal-edit-staff').modal('hide');" />
                    <input type="button" id="btn-modal-accept-edit-staff" class="btn btn-primary" value="Aceptar" onclick="btnAceptSaveStaff();" />
                </div>
            </form>
        </div>
    </div>
</div>

